<div class="wrapper" @container  @opacityIn>
    <article class="presentation" @fadeIn >
        <h3 class="text-headline-dark" ><span>Alex Arhuata Turpo</span></h3>
        <h4 class="subtitle">Estudiante de Ingeniería de Sistemas 🧑‍🎓</h4>
        <p class="description">
            Desarrollador de Software con experiencia en el diseño, implementación y mantenimiento de soluciones web
            eficientes y escalables 🍃. Poseo conocimientos en lenguajes de programación front-end y back-end, así como en
            el manejo de bases de datos y la integración de APIs. Comprometido por crear experiencias interactivas y
            amigables para el usuario. 🍁
        </p>
        <a class="button" routerLink="/projects">🏛️ Mis proyectos</a>
    </article>
</div>


