/* You can add global styles to this file, and also import other style files */
:root {
    --text-headline-dark: #fffffe;
    --text-paragraph-dark: #94a1b2;
    --text-dark: #eee;
    --light-slate: #a8b2d1;
    --background-dark: #16161a;
    --text-green: rgb(94 234 212);
    --links-light-slate: #8892b0;
    --text-light-slate: #ccd6f6;
    --dark-slate: blue;
    --navy: rgba(255,255,255,0);
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    width: 100%;
}

/* Scrollbar Styles */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--text-green) var(--navy);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--navy);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-green);
    border: 0px solid var(--navy);
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: var(--fz-md);
    background-color: var(--background-dark);
    color: var(--text-paragraph-dark);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover,
a:focus {
    color: var(--text-green);
}

ul {
    list-style: none;
}

svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    vertical-align: middle;

    &.feather {
        fill: none;
    }
}